---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps.osuk8s.site
  resources:
  - simplegolangapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.osuk8s.site
  resources:
  - simplegolangapps/finalizers
  verbs:
  - update
- apiGroups:
  - apps.osuk8s.site
  resources:
  - simplegolangapps/status
  verbs:
  - get
  - patch
  - update
